{{ define "main" }}

<article class="post h-entry">
    <header>
        <h1 class="p-name">{{ .Title | markdownify }}</h1>
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "02.01.2006"}}
        </time>
    </header>
    
    <div class="content">
        {{ .Content }}
    </div>

    <footer>
        <a href="/" class="iconlink">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M18 11H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707 1.414-1.414L8.414 13H18z"/>
            </svg>
            Retour à l'accueil
        </a>
    </footer>
</article>

{{ end }}